:root {
    --reacted-accent: #00d9ff;
}
body {
    display: block;
    height: 90vh;
    width:100vw;
}
.metadata {
    display: flex;
    justify-content:first baseline;
}
.metadata span {
    margin-left: 10px;
    font-size: .8em;
    align-self: center;
}

.message {
    display: flex;
    gap: 10px;
    padding: .25rem;
}
.message:hover {
    background-color: var(--secondary-background-color);
}

.avatar {
    width: 40px;
    height: 40px;
    background: var(--accent);
    border-radius: 50%;
}

.messages {
    flex-grow: 1;
    height: 80%;
    width:100%;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.message .messageContent {
    font-size: 1rem;
}
.message .username {
    font-size: .9rem;
    margin-bottom: .25rem;
}


.reaction-row {
    margin-top:.2rem;
    display: flex;
    flex-wrap: wrap;
}
.reaction .emoji {
    display: flex;
}
.reaction .emoji img {
    width:1.1rem;
    justify-self: center;
    align-self: center;
}
.reaction .counter {
    align-self:center;
    justify-self: center;
    font-weight: bold;
    font-size:1.3rem;
}
.reaction {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size:1.2rem;
    border: solid 1px var(--border-color);
    border-radius: var(--border-radius-m);
    padding: .15rem .25rem;
    margin:  .2rem;
}
.reaction.self-reacted {
    border-color: var(--reacted-accent);
    color: var(--reacted-accent);
}
#message-input {
    width:100%;
    background: var(--background-color);
    border: whitesmoke 1px dashed;
    border-radius: var(--border-radius-s);
    color: var(--text-color);
    bottom: 0;
    padding: .25rem;
}
#message-input:focus {
    border: none;
}
.header {
    display:flex;
    justify-content:end;
}
.main {
    display: flex;
    flex-direction: row;
    height: 100%;
    width:100%;
}
.sidebar {
    background: var(--secondary-background-color);
    margin: 1rem;
    min-width:fit-content;
}
button {
    color: white;
    background-color: var(--background-color);
    border: solid 1px whitesmoke;
    border-radius: var(--border-radius-s);
    padding: .25rem;
    margin: .25rem;
}
#context {
    display: none;
    position: absolute;
    flex-direction: column;
    border-radius: .25rem;  
    backdrop-filter: blur(2px);
    width: min-content;
    height: min-content;
    background-color: color-mix(in srgb, lightgreen 25%);
    z-index: 50;
    padding: .5rem;
}